{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "443955892116.dkr.ecr.us-east-1.amazonaws.com/hots-dockers:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "8000"
    }
  ]
}
